**In this Credit Score Prediction file, we shall use our Credit Scoring model** that we exported to our project folder (f1_classifier) - in previous code file - **to predict Credit Scores for New Loan Applications file (e_NewApplications)**.

### Importing libraries & functions

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

### Importing dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [5]:
%cd C:/Users/Gonzalez/Documents/dataScience/Project1_Credit_Scoring-20230122T180707Z-001/Project1_Credit_Scoring
# !pwd

C:\Users\Gonzalez\Documents\dataScience\Project1_Credit_Scoring-20230122T180707Z-001\Project1_Credit_Scoring

In [6]:
dataset=pd.read_excel("e_NewApplications_CreditScore_Needed.xlsx")
# !ls

### Data preparation

In [7]:
# shows count of rows and columns
dataset.shape

(30, 29)

In [8]:
#shows first few rows of the code
dataset.head()

,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,TLCnt03,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,7140,3,2,0,0,11.0,0,90,9,0,...,2.0,0.8645,0.1667,2,2,4,0.2500,3,3,1.0000
1,7163,4,2,1,3,3.0,2,221,3,1,...,2.0,0.6774,0.3333,0,2,5,0.2000,3,2,0.3333
2,122900,0,0,0,11,1.0,13,152,2,2,...,5.0,0.8371,0.5758,1,0,0,0.2121,0,0,1.8571
3,7226,1,1,0,2,1.0,4,206,21,0,...,NaN,0.0000,0.2500,0,0,3,0.1250,1,0,1.0000
4,7251,1,1,0,4,1.0,5,152,11,0,...,2.0,0.8892,0.2500,2,1,2,0.7500,1,2,0.3333

In [9]:
#dropping customer ID column from the dataset
dataset=dataset.drop('ID',axis=1)
dataset.shape

(30, 28)

In [10]:
# explore missing values
dataset.isna().sum()

DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        3
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        1
TL50UtilCnt        1
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [11]:
# filling missing values with mean
dataset=dataset.fillna(dataset.mean())

In [12]:
# explore missing values post missing value fix
dataset.isna().sum()

DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

### Train Test Split

In [13]:
X_fresh = dataset

In [14]:
# Loading normalisation coefficients - exported from the model code file as f2_Normalisation 

import joblib

sc = joblib.load('./f2_Normalisation_CreditScoring')

In [17]:
X_fresh = sc.transform(X_fresh)

### Risk Model building

In [18]:
# Loading Classifier file - exported from the model code file as f1_Classifier 

classifier = joblib.load('./f1_Classifier_CreditScoring')

In [19]:
# Generating fresh Target values for new applications

y_fresh = classifier.predict(X_fresh)

### Writing output file

In [20]:
predictions = classifier.predict_proba(X_fresh)
predictions

array([[0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 4.05088835e-32],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.14217882e-49],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 3.69262795e-84],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00]])

In [21]:
# writing model output file

df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_0', 'prob_1'])
df_test_dataset = pd.DataFrame(X_fresh, columns = dataset.columns)
df_prediction_target = pd.DataFrame(y_fresh,columns= ['Predicted Outcome'])

dfx=pd.concat([df_prediction_target, df_prediction_prob, df_test_dataset], axis=1)

dfx.to_csv("C:/Users/Gonzalez/Documents/dataScience/Project1_Credit_Scoring-20230122T180707Z-001/Project1_Credit_Scoring/f4_NewApplications_CreditScore_Predictions.xlsx", sep=',', encoding='UTF-8')

dfx.head(10)

,Predicted Outcome,prob_0,prob_1,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,0.0,1.000000e+00,3.000000e+00,2.000000e+00,2.824130e-16,4.896084e-16,11.00000,2.808864e-16,90.0,...,2.0,8.645000e-01,1.667000e-01,2.000000e+00,2.000000e+00,4.000000e+00,0.2500,3.000000e+00,3.000000e+00,1.000000e+00
1,1,0.0,1.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00,3.000000e+00,3.00000,2.000000e+00,221.0,...,2.0,6.774000e-01,3.333000e-01,5.870304e-16,2.000000e+00,5.000000e+00,0.2000,3.000000e+00,2.000000e+00,3.333000e-01
2,1,0.0,1.000000e+00,1.867950e-16,-4.676814e-17,2.824130e-16,1.100000e+01,1.00000,1.300000e+01,152.0,...,5.0,8.371000e-01,5.758000e-01,1.000000e+00,8.686801e-16,6.236678e-16,0.2121,6.500009e-16,-5.812018e-16,1.857100e+00
3,0,1.0,4.050888e-32,1.000000e+00,1.000000e+00,2.824130e-16,2.000000e+00,1.00000,4.000000e+00,206.0,...,4.0,-1.189292e-14,2.500000e-01,5.870304e-16,8.686801e-16,3.000000e+00,0.1250,1.000000e+00,-5.812018e-16,1.000000e+00
4,1,0.0,1.000000e+00,1.000000e+00,1.000000e+00,2.824130e-16,4.000000e+00,1.00000,5.000000e+00,152.0,...,2.0,8.892000e-01,2.500000e-01,2.000000e+00,1.000000e+00,2.000000e+00,0.7500,1.000000e+00,2.000000e+00,3.333000e-01
5,0,1.0,1.142179e-49,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.00000,2.808864e-16,124.0,...,4.0,1.027800e+00,5.000000e-01,5.870304e-16,8.686801e-16,2.000000e+00,0.6250,6.500009e-16,-5.812018e-16,1.000000e+00
6,1,0.0,1.000000e+00,1.867950e-16,-4.676814e-17,2.824130e-16,1.000000e+00,6.00000,4.000000e+00,102.0,...,11.0,9.173000e-01,4.348000e-01,3.000000e+00,4.000000e+00,4.000000e+00,0.6087,4.000000e+00,4.000000e+00,5.686424e-15
7,1,0.0,1.000000e+00,1.500000e+01,9.000000e+00,2.824130e-16,3.000000e+00,1.00000,3.000000e+00,14.0,...,1.0,8.000000e-01,1.659992e-14,5.870304e-16,8.686801e-16,6.236678e-16,1.0000,1.200000e+01,-5.812018e-16,1.000000e+00
8,1,0.0,1.000000e+00,1.867950e-16,-4.676814e-17,2.824130e-16,4.896084e-16,2.62963,2.808864e-16,110.0,...,1.0,7.465000e-01,4.286000e-01,5.870304e-16,1.000000e+00,2.000000e+00,0.4286,1.000000e+00,1.000000e+00,5.686424e-15
9,1,0.0,1.000000e+00,1.867950e-16,-4.676814e-17,2.824130e-16,1.000000e+00,5.00000,1.000000e+00,354.0,...,5.0,3.552000e-01,6.538000e-01,5.870304e-16,1.000000e+00,1.000000e+00,0.7308,1.000000e+00,1.000000e+00,5.263000e-01

### Coding ends here!